
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
    margin:0px;
    padding:0px;
    color:navy;
}

main {
    padding:16px;

}


img {
    width: 220px;
    height:220px;
    border:10px;
    padding:5px;
    background-color: crimson;
}

footer {
    padding-top:24px;
    padding-bottom:24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: burlywood;

}

nav {
    border-bottom: 1px;
    padding-top:16px;
    padding-bottom:16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color:greenyellow;
}


a:hover {
    color:magenta;

}


a {
    text-decoration:none;


}


 div {
    display: grid;
    grid-template-columns: px px px px;


 }



 h1 {
    text-shadow: #FC0 1px 0 10px;
 }

 h2 {
    text-shadow:#FC0 1px 0 10px;
 }


tr:nth-child(even) {
    background-color: lightgray;

}